<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <script defer src="js/main.js"></script>
</head>
<body class="<%= darkMode ? 'dark-mode' : '' %>">
  <div class="container">
    <div class="top-buttons">
      <button id="dark-mode-toggle" class="dark-mode-toggle">🌙 Dark Mode</button>
      <button class="clear-data-btn" onclick="confirmClearData()">Tüm Verileri Sil</button>
    </div>
    <h2>To-Do List</h2>
    <input type="text" id="todoItem" placeholder="Yeni görev ekleyin" required>
    <button id="addTask">Ekle</button>

    <!-- Liste Başlıkları -->
    <div class="list-headers">
      <span class="header-dot"></span>
      <span class="header-task">Görev</span>
      <span class="header-date">Tarih</span>
      <span class="header-status">Durum</span>
      <span class="header-actions">Aksiyonlar</span>
    </div>

    <!-- Görev Satırları -->
    <ul id="taskList"></ul>
  </div>
</body>
</html>
