<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="background"></div>
    <button id="dark-mode-toggle">🌙 Dark Mode</button>
    <div class="container">
        <h2>To-Do List</h2>
        <input type="text" id="task" placeholder="Yeni görev ekle...">
        <button>Ekle</button>
        
    </div>

    <script>
        // adding 
        document.getElementById("dark-mode-toggle").addEventListener("click", function() {
        document.body.classList.toggle("dark-mode");
    });
    
    </script>
</body>
</html>
